.Service-container{
    height: 100%;
    width: 100%;
   
  }
  .MainuploadService{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .uploadService-card{
    width: 50%;
    text-align: start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
    padding: 40px;
    top: 50%;
    left: 25%;
    border-radius: 20px;
    }
  .uploadService input,
    .uploadService textarea ,
    .uploadService file{
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 4px;
     
      box-sizing: border-box;
    }
  
  .Service-upload-dislay{
    height: 100%;
    width: 100%;
   display: flex;
   justify-content: center;
  
  }
  .Service-upload-dislay-card{
    height: 100%;
    width: 600px;
    border: 2px solid rgb(4, 236, 93);
    margin-bottom: 60px;
    border-radius: 20px;
  }
  .Service-upload-dislay-card img{
    height: 300px;
    width: 100%;
    border-radius: 20px;
  }
  .upload-display-imageContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  box-sizing: border-box;
  
  height: 100%;
  }
  .upload-Service-gallery{
    width: 40%;
    height:50%;
  
  
  }
  
  .upload-Service-display-data{
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  .Service-upload-display-p{
    text-align: start;
    font-weight: bold;
    width: 100%;
    padding: 0 20px;
  }
  .Service-upload-display-p-time{
    text-align: start;
  }
  .institiute-upload-gallery-btn{
    position: relative;
    top: -60px;
   height: 30px;
   width: 80px;
   margin: 5px;
   gap: 20px;
   border: none;
   border-radius: 10px;
   background: rgba(0, 128, 0, 0.733);
   color: white;
   cursor: pointer;
  }
  .institiute-upload-gallery-btn:nth-child(2){
  background: red;
  }
  .Service-all-data-dlt-btn{
    position: relative;
    top: -10px;
   height: 30px;
   width: 190px;
   margin: 5px;
   gap: 20px;
   border: none;
   border-radius: 10px;
   background: rgba(241, 1, 1, 0.959);
   color: white;
   cursor: pointer;
  
  }
  .upload-Service-gallery img{
    
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;
  }
  
    @media screen and (max-width: 750px) {
      .uploadService-card{
        width: 93%;
        text-align: start;
       
      position: initial;
      padding: 10px;
        
        border-radius: 20px;
        }
    }


    .card {
      --main-color: #dedede;
      --sub-color: #ccc;
      --bg-color: #323232;
      --accent-color: #BC8D66;
      position: relative;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 270px;
      padding: 25px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: var(--bg-color);
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 0px 5px -1.5px #000;
    }
    
    .card::before {
      content: '';
      width: 99%;
      height: 99%;
      background: var(--sub-color);
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 1px;
      border-radius: 25px;
      transition: all 0.3s;
    }
    
    .card__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .card__img {
      width: 100%;
    }
    
    .card__title {
      color: var(--main-color);
      font-weight: 900;
      font-size: 25px;
    }
    
    .card__subtitle {
      color: var(--sub-color);
      font-weight: 600;
      font-size: 20px;
    }
    
    .card__icon {
      width: 40px;
      height: 40px;
      transform: rotate(-45deg);
      transition: all 0.3s;
    }
    
    .card__icon svg {
      width: 100%;
      height: 100%;
    }
    
    .card__icon g {
      fill: var(--main-color);
    }
    
    .card__icon circle, polyline, line {
      stroke: var(--main-color);
    }
    
    .card:hover .card__icon {
      transform: rotate(0);
    }
    
    .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
      stroke: var(--accent-color);
    }
    
    .card:hover .card__icon g {
      fill: var(--accent-color);
    }
    
    .card:hover {
      box-shadow: 0px 0px 20px -5px #000;
    }
    
    .card:hover::before {
      transform: rotate(10deg);
      box-shadow: 0px 0px 20px -5px #000;
    }
    
    /* remove svg from class ="card__img" and last styles below css code before use */
    .st1 {
      fill: #fff
    }
    
    .st2 {
      fill: none;
      stroke: #242c88;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10
    }
    
    .st7 {
      fill: #589fff
    }
    
    .st9 {
      fill: #bc8d66
    }
    
    .st15,.st16 {
      opacity: .4;
      fill: #242c88
    }
    
    .st16 {
      opacity: .2
    }
    
    .st18 {
      fill: #ffc408
    }
    
    .st53 {
      fill: none;
      stroke: #242c88;
      stroke-width: 1.848;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10
    }