.chat-container {
    height: 100%; /* Fill available height */
    display: flex;
    flex-direction: column;
}

.messages-container {
    overflow-y: auto; /* Enable vertical scrolling */
    flex: 1; /* Take remaining vertical space */
    display: flex;
    flex-direction: column-reverse; /* Reverse direction to start from bottom */
    padding: 10px;
}

.message {
    padding: 8px 16px; /* Adjust padding for better spacing */
    border-radius: 8px;
    margin: 8px;
    max-width: 70%;
}

.user-message {
    background-color: #e5f4ff; /* Light blue for user messages */
    align-self: flex-start; /* Align user messages to the left */
}

.admin-message {
    background-color: #d1ffd4; /* Light green for admin messages */
    align-self: flex-end; /* Align admin messages to the right */
}

.input-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.input-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.timestamp {
    font-size: 0.8rem;
    color: #999;
    margin-left: 10px;
}

.user-to-admin-message {
    align-self: flex-start; /* Align user-to-admin messages to the left */
}

.admin-to-user-message {
    align-self: flex-end; /* Align admin-to-user messages to the right */
}
